
@model  IEnumerable<ViewEntities.Models.BookViewModel> 
@using Library.Entities.Models;
@using ViewEntities.Enums;
@{
    ViewBag.Title = "Books";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Library</title>

    @*@Styles.Render("~/Content/css")*@
    <link href="~/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/styles/kendo.default.mobile.min.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/kendo.all.min.js"></script>


    @{if (@User.IsInRole(nameof(IdentityViewRoles.Admin)))
        {
            <script src="~/Scripts/admin-book-grid.js"></script>
        }
    }
    @{if (@User.IsInRole(nameof(IdentityViewRoles.User)))
        {
         <script src="~/Scripts/user-book-grid.js"></script>
        }
     }


</head>
<body>
    <div>
        <h3>Books</h3>

        <div id="grid"></div>

            </div>
</body>
</html>
