@model dynamic

@{
    ViewBag.Title = "AllPublications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    IEnumerable<Library.Entities.Models.Book> books = ViewData["Books"] as IEnumerable<Library.Entities.Models.Book>;

    IEnumerable<Library.Entities.Models.Magazine> magazines = ViewData["Magazines"] as IEnumerable<Library.Entities.Models.Magazine>;
    IEnumerable<Library.Entities.Models.Brochure> brochhures = ViewData["Brochures"] as IEnumerable<Library.Entities.Models.Brochure>;

}
<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="../../Content/Table.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Library</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <h2>All publications</h2>
        <table class="simple-little-table">
            <tr>
                <th>Name</th>
                <th>Type</th>
            </tr>
            @foreach (Library.Entities.Models.Book b in books)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>Book</p></td>
                </tr>
            }
            @foreach (Library.Entities.Models.Magazine m in magazines)
             {
                    <tr>
                        <td><p>@m.Name</p></td>
                        <td><p>Magazine</p></td>
                    </tr>

             }
             @foreach (Library.Entities.Models.Brochure m in brochhures)
             {
                    <tr>
                        <td><p>@m.Name</p></td>
                        <td><p>Brochure</p></td>
                    </tr>

             }

</table>
</div>
</body>
</html>
