@model  IEnumerable<Library.Entities.Models.PublicHouse>

@{
    ViewBag.Title = "AddPublicHouse";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddPublicHouse</h2>

<select id="multiselect">
    <option>Item 1</option>
    <option>Item 2</option>
    <option>Item 3</option>
</select>



